.container {
    display: flex;
    justify-content: space-around;
}

#title {
    width: 500px;
    height: 100px;
    border: black 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
}

#body {
    width: 500px;
    height: 100px;
    border: red 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: red;
}

#footer {
    width: 500px;
    height: 100px;
    border: blueviolet 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: blueviolet;
}

#date {
    width: 500px;
    height: 100px;
    border: greenyellow 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: greenyellow;
}

#app {
    border: black 1px solid;
    padding: 5px;
    border-radius: 25px;
    background-color: aliceblue;
    width: 300px;
    margin: 0 auto;
}

.outside_app {
    width: 330px;
    border-radius: 30px;
    border: black 1px solid;
    margin: 15px auto;
}

.black_line {
    border: black 2px solid;
    margin: 15px auto;
    width: 45px;
}

.circle {
    border: black 1px solid;
    margin: 15px auto;
    width: 45px;
    height: 45px;
    border-radius: 25px;
}

#app_title {
    width: 100%;
    height: 100px;
    border: goldenrod 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    border-radius: 25px;
    background-color: white;
}

#app_body{
    width: 100%;
    height: 100px;
    border: red 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: red;
    border-radius: 25px;
    background-color: white;
}

#app_footer {
    width: 100%;
    height: 100px;
    border: blueviolet 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: blueviolet;
    border-radius: 25px;
    background-color: white;
}

#app_date {
    width: 100%;
    height: 100px;
    border: greenyellow 1px solid;
    text-align: center;
    font-size: 24px;
    margin: 5px auto;
    color: greenyellow;
    border-radius: 25px;
    background-color: white;
}

@media screen and (max-width: 950px) {
    .container {
        display: block;
        margin: 0 auto;
    }
}